body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px black;
}
.profile-pic{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.profile-pic:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
input{
    padding: 10px;
    font-size: 16px;
    width: 80%;
    max-width: 250px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}